h1{background-color: #7fffd4;
text-align: center;}
.destacados{color: red;}
.pelis{color: blue;}
#caja{background-color: rgb(255, 251, 0);}
#caja2{background-color: forestgreen;}
#caja3{background-color: rgb(57, 116, 116);}
#foto{text-align: center;}
#caja4{background-color: darkgrey;}
#caja5{background-color: saddlebrown;}